[submodule "book/assignments/PA1.1"]
	path = book/assignments/PA1.1
	url = https://github.com/MUDE-2026/PA1.1.git
	branch = solution
[submodule "book/assignments/PA1.2"]
	path = book/assignments/PA1.2
	url = https://github.com/MUDE-2026/PA1.2.git
	branch = assignment
[submodule "book/assignments/PA1.3"]
	path = book/assignments/PA1.3
	url = https://github.com/MUDE-2026/PA1.3.git
	branch = assignment
[submodule "book/assignments/PA1.4"]
	path = book/assignments/PA1.4
	url = https://github.com/MUDE-2026/PA1.4.git
	branch = assignment
[submodule "book/assignments/PA1.5"]
	path = book/assignments/PA1.5
	url = https://github.com/MUDE-2026/PA1.5.git
	branch = assignment
[submodule "book/assignments/PA1.6"]
	path = book/assignments/PA1.6
	url = https://github.com/MUDE-2026/PA1.6.git
	branch = assignment
[submodule "book/assignments/PA1.7"]
	path = book/assignments/PA1.7
	url = https://github.com/MUDE-2026/PA1.7.git
	branch = assignment
[submodule "book/assignments/PA1.8"]
	path = book/assignments/PA1.8
	url = https://github.com/MUDE-2026/PA1.8.git
	branch = assignment
[submodule "book/assignments/PA2.1"]
	path = book/assignments/PA2.1
	url = https://github.com/MUDE-2026/PA2.1.git
	branch = assignment
[submodule "book/assignments/PA2.2"]
	path = book/assignments/PA2.2
	url = https://github.com/MUDE-2026/PA2.2.git
	branch = assignment
[submodule "book/assignments/PA2.3"]
	path = book/assignments/PA2.3
	url = https://github.com/MUDE-2026/PA2.3.git
	branch = assignment
[submodule "book/assignments/PA2.4"]
	path = book/assignments/PA2.4
	url = https://github.com/MUDE-2026/PA2.4.git
	branch = assignment
[submodule "book/assignments/PA2.5"]
	path = book/assignments/PA2.5
	url = https://github.com/MUDE-2026/PA2.5.git
	branch = assignment
[submodule "book/assignments/PA2.6"]
	path = book/assignments/PA2.6
	url = https://github.com/MUDE-2026/PA2.6.git
	branch = assignment
[submodule "book/assignments/PA2.7"]
	path = book/assignments/PA2.7
	url = https://github.com/MUDE-2026/PA2.7.git
	branch = assignment
[submodule "book/assignments/PA2.8"]
	path = book/assignments/PA2.8
	url = https://github.com/MUDE-2026/PA2.8.git
	branch = assignment
[submodule "book/assignments/GA1.1"]
	path = book/assignments/GA1.1
	url = https://github.com/MUDE-2026/GA1.1.git
	branch = assignment
[submodule "book/assignments/GA1.2"]
	path = book/assignments/GA1.2
	url = https://github.com/MUDE-2026/GA1.2.git
	branch = assignment
[submodule "book/assignments/GA1.3"]
	path = book/assignments/GA1.3
	url = https://github.com/MUDE-2026/GA1.3.git
	branch = assignment
[submodule "book/assignments/GA1.4"]
	path = book/assignments/GA1.4
	url = https://github.com/MUDE-2026/GA1.4.git
	branch = assignment
[submodule "book/assignments/GA1.5"]
	path = book/assignments/GA1.5
	url = https://github.com/MUDE-2026/GA1.5.git
	branch = assignment
[submodule "book/assignments/GA1.6"]
	path = book/assignments/GA1.6
	url = https://github.com/MUDE-2026/GA1.6.git
	branch = assignment
[submodule "book/assignments/GA1.7"]
	path = book/assignments/GA1.7
	url = https://github.com/MUDE-2026/GA1.7.git
	branch = assignment
[submodule "book/assignments/GA1.8"]
	path = book/assignments/GA1.8
	url = https://github.com/MUDE-2026/GA1.8.git
	branch = assignment
[submodule "book/assignments/GA2.1"]
	path = book/assignments/GA2.1
	url = https://github.com/MUDE-2026/GA2.1.git
	branch = assignment
[submodule "book/assignments/GA2.2"]
	path = book/assignments/GA2.2
	url = https://github.com/MUDE-2026/GA2.2.git
	branch = assignment
[submodule "book/assignments/GA2.3"]
	path = book/assignments/GA2.3
	url = https://github.com/MUDE-2026/GA2.3.git
	branch = assignment
[submodule "book/assignments/GA2.4"]
	path = book/assignments/GA2.4
	url = https://github.com/MUDE-2026/GA2.4.git
	branch = assignment
[submodule "book/assignments/GA2.5"]
	path = book/assignments/GA2.5
	url = https://github.com/MUDE-2026/GA2.5.git
	branch = assignment
[submodule "book/assignments/GA2.6"]
	path = book/assignments/GA2.6
	url = https://github.com/MUDE-2026/GA2.6.git
	branch = assignment
[submodule "book/assignments/GA2.7"]
	path = book/assignments/GA2.7
	url = https://github.com/MUDE-2026/GA2.7.git
	branch = assignment
[submodule "book/assignments/GA2.8"]
	path = book/assignments/GA2.8
	url = https://github.com/MUDE-2026/GA2.8.git
	branch = assignment
[submodule "book/assignments/WS1.1"]
	path = book/assignments/WS1.1
	url = https://github.com/MUDE-2026/WS1.1.git
	branch = solution
[submodule "book/assignments/WS1.2"]
	path = book/assignments/WS1.2
	url = https://github.com/MUDE-2026/WS1.2.git
	branch = assignment
[submodule "book/assignments/WS1.3"]
	path = book/assignments/WS1.3
	url = https://github.com/MUDE-2026/WS1.3.git
	branch = assignment
[submodule "book/assignments/WS1.4"]
	path = book/assignments/WS1.4
	url = https://github.com/MUDE-2026/WS1.4.git
	branch = assignment
[submodule "book/assignments/WS1.5"]
	path = book/assignments/WS1.5
	url = https://github.com/MUDE-2026/WS1.5.git
	branch = assignment
[submodule "book/assignments/WS1.6"]
	path = book/assignments/WS1.6
	url = https://github.com/MUDE-2026/WS1.6.git
	branch = assignment
[submodule "book/assignments/WS1.7"]
	path = book/assignments/WS1.7
	url = https://github.com/MUDE-2026/WS1.7.git
	branch = assignment
[submodule "book/assignments/WS1.8"]
	path = book/assignments/WS1.8
	url = https://github.com/MUDE-2026/WS1.8.git
	branch = assignment
[submodule "book/assignments/WS2.1"]
	path = book/assignments/WS2.1
	url = https://github.com/MUDE-2026/WS2.1.git
	branch = assignment
[submodule "book/assignments/WS2.2"]
	path = book/assignments/WS2.2
	url = https://github.com/MUDE-2026/WS2.2.git
	branch = assignment
[submodule "book/assignments/WS2.3"]
	path = book/assignments/WS2.3
	url = https://github.com/MUDE-2026/WS2.3.git
	branch = assignment
[submodule "book/assignments/WS2.4"]
	path = book/assignments/WS2.4
	url = https://github.com/MUDE-2026/WS2.4.git
	branch = assignment
[submodule "book/assignments/WS2.5"]
	path = book/assignments/WS2.5
	url = https://github.com/MUDE-2026/WS2.5.git
	branch = assignment
[submodule "book/assignments/WS2.6"]
	path = book/assignments/WS2.6
	url = https://github.com/MUDE-2026/WS2.6.git
	branch = assignment
[submodule "book/assignments/WS2.7"]
	path = book/assignments/WS2.7
	url = https://github.com/MUDE-2026/WS2.7.git
	branch = assignment
[submodule "book/assignments/WS2.8"]
	path = book/assignments/WS2.8
	url = https://github.com/MUDE-2026/WS2.8.git
	branch = assignment
